{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    Login
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row centred">
            <div class="col-sm-offset-4 col-sm-4">
                <form class="form-signin" method="POST" action="/">
                    <h2 class="form-signin-heading">Please log in</h2>
                    {{ form.hidden_tag() }}
                    {{ wtf.form_field(form.username) }}
                    {{ wtf.form_field(form.password) }}
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
                </form>
            </div>
        </div>
    </div> <!-- /container -->
{% endblock %}